/* Universal box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Avoid horizontal scroll on all elements */
html, body {
  
  width: 100%;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Base font settings */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #020A13, #020A13); /* Fix gradient */
  color: white;
}
